@mixin layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
$radiusSize: 1px;
$containerBgColor: #ffffff;
.scm_query-bar-container {
  @include layout;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 20px;
  background-color: $containerBgColor;
  /* 表单区 */
  .query-bar-form-block {
    width: 100%;
    gap: 10px;
    @include layout;
    align-items: flex-start;
    .el-form-item {
      .el-input__inner {
        border-radius: $radiusSize;
      }
      &.el-form-item {
        margin-bottom: 10px;
        margin-right: 0;
        display: flex;
        @media (max-width: 900px) {
          flex: 0 0 100%;
        }
        @media (min-width: 900px) {
          flex: 0 0 calc(33.33% - 10px);
        }
        @media (min-width: 1366px) {
          flex: 0 0 calc(33.33% - 10px);
        }
        @media (min-width: 1600px) {
          flex: 0 0 calc(25% - 10px);
        }
        @media (min-width: 1920px) {
          flex: 0 0 calc(20% - 10px);
        }
        
        > .el-form-item__label {
          flex-basis: 5em;
        }
        > .el-form-item__content {
          flex-grow: 1;
        }
      }
      &.form-item-date {
        @include layout;
        .el-form-item__content {
          width: calc(100% - 5em);
          .el-date-editor {
            width: 100%;
            padding: 0px 10px;
          }
          height: 40px;
        }
      }
      &.form-item-select .el-form-item__content .el-select {
        width: 100%;
      }
    }
  }
  /* 更多查询 打开 和 关闭查询 */
  .hide-more {
    max-height: 41px;
    overflow: hidden;
  }
  .more-btn-wrap {
    align-self: flex-start;
  }
  @mixin baseButtonStyle {
    $bgColor: #0086fa;
    [type="button"]:not(.collapse-button) {
      padding: 9px 20px;
      border-radius: $radiusSize;
    }
    .el-button--primary {
      background-color: $bgColor;
    }
  }
  /* 按钮区 */
  .query-buttons-container {
    $bgColor: #0086fa;
    @include layout;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    [type="button"] {
      padding: 9px 27px;
      border-radius: $radiusSize;
    }
    .el-button--primary {
      background-color: $bgColor;
    }
  }
  .query-operation {
    flex-grow: 1;
    text-align: right;
    @include baseButtonStyle;
  }
  .collapse-button {
    font-size: 14px;
    display: inline-flex;
    flex-direction: row-reverse;
  }
}
